{% extends "base.html" %}
{% block content %}
{% load static %}
{% block scripts %}
<script src="{% static '/js/pwd_gen.js' %}"></script>
{% endblock %}
{% if user.is_superuser %}
  	<form action="." method="post">{% csrf_token %}
        <h3>{% trans "Create user:" %}</h3>
        <p><label for="id_username">{% trans "Username:" %}</label></p>
        <p><input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"></p>
        <p>{% trans "150 characters or fewer. Letters, digits and @/./+/-/_ only" %}.</p>
        <p><label for="id_password1">{% trans "Password:" %}</label><input type="password" name="password1" autocomplete="new-password" required id="id_password1">
            <button onclick=pwd_generator()>{% trans "GENERATE" %}</button></p>
            <p><input type="checkbox" onclick="show_pwd()">{% trans "Show Password" %}</p>
            <p>{% trans "Your password can’t be too similar to your other personal information." %}</p>
            <p>{% trans "Your password must contain at least 8 characters." %}</p>
            <p>{% trans "Your password can’t be a commonly used password." %}</p>
            <p>{% trans "Your password can’t be entirely numeric." %}</p>
        <p><label for="id_password2">{% trans "Password confirmation:" %}</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2"></p>
        <p><label for="id_location">{% trans "Location:" %}</label>
        <input type="text" name="location" maxlength="30" id="id_location"></p>
        <p><label for="id_birth_date">{% trans "Birth date:" %}</label>
        <input type="date" name="birth_date" min="1910-01-01" max="2052-12-31" id="id_birth_date">
        <button type="submit">{% trans "Register" %}</button>
    </form>

{% else %}
    <h2>{% trans "Insufficient permissions" %}</h2>
{% endif %}
{% endblock %}