{% extends "base.html" %}
{% block content %}


{% if user.is_superuser %}
  	<form action="." method="post">{% csrf_token %}
        <h3>Create user:</h3>
        <label for="id_username">Username:</label>
        <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
        <label for="id_password1">Password:</label>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
        <label for="id_password2">Password confirmation:</label>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
        <button type="submit">Register</button>
    </form>
{% else %}
    <h2>Insufficient permissions</h2>
{% endif %}
{% endblock %}